<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="RestauranteConn" connectionString="Data Source=10.1.4.119; Initial Catalog=restaurantes; User ID=b53779; Password=mahogany25;"/>
  </connectionStrings>
</configuration>